WebConsumidor/web/WEB-INF/wsdl/localhost_8080/WebProveedor/ServicioWebMovimientos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="cuenta" type="tns:cuenta"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="movimiento" type="tns:movimiento"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="retornarMovimientos" type="tns:retornarMovimientos"/>

<xs:element name="retornarMovimientosResponse" type="tns:retornarMovimientosResponse"/>

<xs:element name="tipoCuenta" type="tns:tipoCuenta"/>

<xs:complexType name="edit">
<xs:sequence>
<xs:element ref="tns:movimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimiento">
<xs:sequence>
<xs:element name="fechaMov" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numCedula" type="tns:cliente" minOccurs="0"/>
<xs:element name="numCuenta" type="tns:cuenta" minOccurs="0"/>
<xs:element name="numMovimiento" type="xs:long" minOccurs="0"/>
<xs:element name="valCredito" type="xs:double" minOccurs="0"/>
<xs:element name="valDebito" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="numCedula" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cuenta">
<xs:sequence>
<xs:element name="codCuenta" type="tns:tipoCuenta" minOccurs="0"/>
<xs:element name="numCedula" type="tns:cliente" minOccurs="0"/>
<xs:element name="numCuenta" type="xs:long" minOccurs="0"/>
<xs:element name="valSaldo" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoCuenta">
<xs:sequence>
<xs:element name="codCuenta" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="nomCuenta" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element ref="tns:movimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarMovimientos">
<xs:sequence>
<xs:element name="numCedula" type="tns:cliente" minOccurs="0"/>
<xs:element name="numCuenta" type="tns:cuenta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarMovimientosResponse">
<xs:sequence>
<xs:element name="return" type="tns:movimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:movimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:movimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element ref="tns:movimiento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:movimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>